{% extends "layout.html" %}
{% load static %}


{% block contenido_pagina %}

    <div class="container text-center">
        <div class="row">
            <div class="col" id="categories">
                <h1>Juegos de aventuras</h1>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h4>Nombre</h4>
            </div>
            <div class="col">
                <h4>Desarrolladora</h4>
            </div>
            <div class="col">
                <h4>Fecha de lanzamiento</h4>
            </div>
            <div class="col">
                <h4>Precio</h4>
            </div>
            <div class="col">

            </div>

        </div>


        <div class="row">
            <div class="col">
                <a>Uncharted 4: A Thief's End</a>
            </div>
            <div class="col">
                <p>Naughty Dog</p>
            </div>
            <div class="col">
                <p>2016-05-10</p>
            </div>
            <div class="col">
                <p>29990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <a>The Last of Us Part II</a>
            </div>
            <div class="col">
                <p>Naughty Dog</p>
            </div>
            <div class="col">
                <p>2020-06-19</p>
            </div>
            <div class="col">
                <p>34990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <a>The Legend of Zelda: Breath of the Wild</a>
            </div>
            <div class="col">
                <p>Nintendo</p>
            </div>
            <div class="col">
                <p>2017-03-03</p>
            </div>
            <div class="col">
                <p>60000 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <a>Horizon Zero Dawn</a>
            </div>
            <div class="col">
                <p>Guerrilla Games</p>
            </div>
            <div class="col">
                <p>2017-02-28</p>
            </div>
            <div class="col">
                <p>39990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>


    </div>
{% endblock contenido_pagina %}
