{% extends "layout.html" %}
{% load static %}


{% block contenido_pagina %}
    <div class="container text-center">
        <div class="row">
            <div class="col" id="categories">
                <h1>Carrito de compras </h1>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h4>Nombre del juego</h4>
            </div>
            <div class="col">
                <h4>Precio</h4>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <p>Final Fantasy XV</p>
            </div>
            <div class="col">
                <p>$54990 </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>The Witcher 3: Wild Hunt</p>
            </div>
            <div class="col">
                <p>$49990</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Persona 5 Royal</p>
            </div>
            <div class="col">
                <p>$39990</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Total</h4>
            </div>
            <div class="col">
                <h4>$144970</h4>
            </div>
        </div>

    </div>
{% endblock contenido_pagina %}
