{% extends "layout.html" %}
{% load static %}

{% block contenido_pagina %}
    <div class="container text-center">
        <div class="row">
            <div class="col" id="categories">
                <h1>Juegos de estrategia</h1>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h4>Nombre</h4>
            </div>
            <div class="col">
                <h4>Desarrolladora</h4>
            </div>
            <div class="col">
                <h4>Fecha de lanzamiento</h4>
            </div>
            <div class="col">
                <h4>Precio</h4>
            </div>
            <div class="col">

            </div>

        </div>


        <div class="row">
            <div class="col">
                <a>Civilization VI</a>
            </div>
            <div class="col">
                <p>Firaxis Games</p>
            </div>
            <div class="col">
                <p>2016-10-21</p>
            </div>
            <div class="col">
                <p>39990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <a>Age of Empires IV</a>
            </div>
            <div class="col">
                <p>Relic Entertainment</p>
            </div>
            <div class="col">
                <p>2021-10-28</p>
            </div>
            <div class="col">
                <p>49990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <a>Starcraft II: Wings of Liberty</a>
            </div>
            <div class="col">
                <p>Blizzard Entertainment</p>
            </div>
            <div class="col">
                <p>2010-07-27</p>
            </div>
            <div class="col">
                <p>29990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <a>Total War: Three Kingdoms</a>
            </div>
            <div class="col">
                <p>Creative Assembly</p>
            </div>
            <div class="col">
                <p>2019-05-23</p>
            </div>
            <div class="col">
                <p>44990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <a>Command & Conquer: Remastered Collection</a>
            </div>
            <div class="col">
                <p>Petroglyph Games</p>
            </div>
            <div class="col">
                <p>2020-06-05</p>
            </div>
            <div class="col">
                <p>34990 CLP</p>
            </div>
            <div class="col">
                <button style="border: none; background:none" id="add" onclick="showAlert()">
                    <img src={% static "img/add.png" %} style="width: 25px;">
                </button>
            </div>
        </div>
    </div>
{% endblock contenido_pagina %}
