form{
    padding: 0.5rem;
}

.form-group{
    margin: 0.5rem 1rem;
}

#update-btn,
#logout-btn
{
  margin: 0.5rem 1rem;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#logout-btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  color: #FFFFFF;
}

#logout-btn:hover,
#logout-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

#logout-btn:active {
  opacity: .5;
}

#update-btn {
  background: #48ff85;
  border: 1px solid #48ff85;
  color: #212121;
}

#update-btn:hover,
#update-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #1a5939;
}

#update-btn:active {
  opacity: .5;
}


